.web-performance {
  --background-color: #fec03e;
  --text-color: #496c1f;
  --text-shadow: #496c1fa1;

  section {
    background-color: var(--background-color);
  }

  h3 {
    color: var(--text-color);
    text-shadow: 2px 2px var(--text-shadow);
  }

  li {
    color: var(--text-color);
  }

  a {
    color: var(--text-color);
  }
}

.typography {
  --background-color: #c61f29;
  --text-color: #fec03e;
  --text-shadow: #fec03e6b;

  section {
    background-color: var(--background-color);
  }

  h3 {
    color: var(--text-color);
    text-shadow: 2px 2px var(--text-shadow);
  }

  li {
    color: var(--text-color);
  }

  a {
    color: var(--text-color);
  }
}

.flexbox {
  --background-color: #2e447c;
  --text-color: #ff0000;
  --text-shadow: #ff000085;

  section {
    background-color: var(--background-color);
  }

  h3 {
    color: var(--text-color);
    text-shadow: 2px 2px var(--text-shadow);
  }

  li {
    color: var(--text-color);
  }

  a {
    color: var(--text-color);
  }
}

.user-experience {
  --background-color: #63ad33;
  --text-color: #2e449b;
  --text-shadow: #2e449b82;

  section {
    background-color: var(--background-color);
  }

  h3 {
    color: var(--text-color);
    text-shadow: 2px 2px var(--text-shadow);
  }

  li {
    color: var(--text-color);
  }

  a {
    color: var(--text-color);
  }

}

@mixin card-stack-one {
  .card-decks__deck-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(1deg);
  }

  .card-decks__deck-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(-1.5deg);
  }

  .card-decks__deck-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(1.15deg) translate(-0.45rem, 0.45rem);
  }

  .card__bg-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(1deg);
  }

  .card__bg-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(-1.5deg);
  }

  .card__bg-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(1.15deg) translate(-0.45rem, 0.45rem);
  }
}

@mixin card-stack-two {
  .card-decks__deck-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.9deg) translate(0.5rem, 0);
  }

  .card-decks__deck-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.1875rem, 0.5rem);
  }

  .card-decks__deck-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.1875rem, 0.5rem);
  }

  .card__bg-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.9deg) translate(0.5rem, 0);
  }

  .card__bg-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.1875rem, 0.5rem);
  }

  .card__bg-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.1875rem, 0.5rem);
  }
}

@mixin card-stack-three {
  .card-decks__deck-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(1.25deg) translate(0.15rem, -3px);
  }

  .card-decks__deck-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.1875rem, 0.5rem);
  }

  .card-decks__deck-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(-1deg) translate(-0.187rem, -0.5rem);
  }

  .card__bg-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(1.25deg) translate(0.15rem, -3px);
  }

  .card__bg-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.1875rem, 0.5rem);
  }

  .card__bg-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(-1deg) translate(-0.187rem, -0.5rem);
  }
}

@mixin card-stack-four {
  .card-decks__deck-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.1deg) translate(0.5rem, -0.5rem);
  }

  .card-decks__deck-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.3125rem, 0.5rem);
  }

  .card-decks__deck-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-7px, -7px);
  }

  .card__bg-stack-1 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.1deg) translate(0.5rem, -0.5rem);
  }

  .card__bg-stack-2 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-0.3125rem, 0.5rem);
  }

  .card__bg-stack-3 {
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07);
    transform: rotate(0.5deg) translate(-7px, -7px);
  }
}
