.home__contact {
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-self: center;
  width: 89%;
  padding: 2% 0;
  margin: 2% 0;
  font-family: "Optician Sans";
  font-weight: 400;
  font-style: normal;
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (2000 - 320)));
  text-align: center;
  margin: 23% 0 2.5% 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media (min-width: 41.56rem) {
  .home__contact {
    width: 66%;
    font-size: calc(26px + (30 - 26) * ((100vw - 320px) / (2000 - 320)));
    margin: 2% 0;
  }
}

.contact__email-input input {
  background-color: white;
  outline: none;
  border: none;
  text-align: center;
}

.contact__email-input input::selection, .contact__email-input input::-moz-selection {
  background: white;
}
